/*
color-pallet
#42282E -brown
#75A48B -blue
#D9CFBO -tan
#DC9B74 -orange
#D6665A -red 
*/
body {
	background-color: white;
}
ul{
	list-style: none;
	font-family: 'Glegoo', serif;
}
li {
	display:none;
	text-align:right;
}
h4 {
	font-family: 'Glegoo', serif;

}
.nav {
	width:100%;
	float:left;
	}



.logo {
	padding-left:40%;
	float:left;
	font-size: 1.800em;
	font-family: 'Glegoo', serif;

	
}
.whole_box{
	padding-top:3px;
   float:left;
}
/* main container */
#container {
	width:100%;
	background-image: url('img/background_mobile.png');
	height: 100%;
	margin:0 auto;
	display:inline-block;
	
}
.hello{
	color:white;
	background-color:black;
	width:40%;
	font-family: 'Glegoo', serif;
	display:none;
	


}
.welcome {
	color:white;
	background-color:black;
	width:100%;
	font-family: 'Glegoo', serif;
	display:none;
	
}
.journey {
	color:white;
	background-color:black;
	width:100%;
	font-family: 'Glegoo', serif;
	display:none;
	
}
#characters {
	width:100%;
	height:100%;
}
.char-1{
display:inline-block;
padding:20px;
}
.char-2{
display:inline-block;
}
.char-3{
display:inline-block;
}

img:hover {
-moz-box-shadow: 0 0 5px #fff;
-webkit-box-shadow: 0 0 5px #fff;
box-shadow: 0px 0px 5px #fff;
};

